@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100vw;
  min-height: 100vh;
  background-color: #2E2E2E;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  
}
html,
body {
 
  margin: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  
}
.sidediv{
  display: flex;
  place-content: start;
  height: 100vh;
  width: 30vw;
  background-color: dimgray;
}
.menu{
  display: flex;
  place-content: start;
  height: 100vh;
  width:  25vw;
  background-color: #1E1E1E;
  flex-direction: column;
  border: 2px solid black;
  place-items: center;
  
}
.sizerange{

  height: 10vh;
  width: 15vw;

}
.paddingrange{
  display: flex;
  place-content: start;
  height: 20vh;
  width: 15vw;

}
.shadowrange{
  display: flex;
  place-content: start;
  height: 10vh;
  width: 15vw;

}
.size{
  font-weight: 100;
  font-size: large;
  place-self: start;
  color: lightgray;
}
.roundness{
  font-weight: 100;
  font-size: large;
  place-self: start;
  color:lightgray;
}
.shadow{
  
  font-weight: 100;
  font-size: large;
  place-self: start;
  color: lightgray;
}
.style{
  color: #E0E0E0;
  place-self: start;
  margin-left: 5vw;
}
.videomain{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: right;
  position: absolute;
  z-index: -1;
}
.videodiv{
  height: 100vh;
  width: 75vw;
  display: flex;
  place-content: center;
  place-items: start;

  background-color: #2E2E2E;;
}
.video{
  height: 70vh;
  width: 50vw;
  background-color: aqua;
}
.renderdiv{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  place-items: center;
  

}
.rendercanvas{
  height: 100vh;
  width: 100vw;
  border: 1px solid blue;
  display: flex;
  place-content: center;
  place-items: center;

}
.rendervideo{
  position: absolute;
  z-index: 10;
  height: 30vh;
  width: 30vw;
  border: 1px solid white;
  display: flex;
  place-content: center;
  place-items: center;
  justify-self: center;
}